.navigation {
    grid-area: navigation;
    background-color: tomato;
    padding: 20px;
}
.item {
    display: flex;
    flex-direction: column;
}
.item a {
    color: white;
    text-decoration: none;
}
.activeLink {
    color: blue !important;
}
.friend {
    color: yellow;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
}
.friends_group {
    margin-top: 50px;
    display: flex;
}